Checks: >
  *,
  -*-else-after-return,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -*-vararg,
  -android-cloexec-fopen,
  -bugprone-assert-side-effect,
  -bugprone-branch-clone,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-not-null-terminated-result,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-string-compare,
  -cert-dcl37-c,
  -cert-dcl50-cpp,
  -cert-dcl51-cpp,
  -cert-err34-c,
  -clang-analyzer-alpha.*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -fuchsia-overloaded-operator,
  -google-explicit-constructor,
  -google-readability-todo,
  -hicpp-explicit-conversions,
  -hicpp-multiway-paths-covered,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -modernize-return-braced-init-list,
  -modernize-use-trailing-return-type,
  -readability-implicit-bool-conversion,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
