Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -android-cloexec-fopen,
  -bugprone-branch-clone,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-not-null-terminated-result,
  -bugprone-suspicious-string-compare,
  -cert-err34-c,
  -clang-analyzer-alpha.*,
  -cppcoreguidelines-narrowing-conversions,
  -google-readability-todo,
  -hicpp-multiway-paths-covered,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -misc-unused-parameters,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
