# Copyright 2020-2022 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -cert-dcl50-cpp,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -fuchsia-overloaded-operator,
  -google-explicit-constructor,
  -google-readability-todo,
  -hicpp-explicit-conversions,
  -hicpp-no-array-decay,
  -misc-non-private-member-variables-in-classes,
  -modernize-return-braced-init-list,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -readability-implicit-bool-conversion,
HeaderFilterRegex: '.*/lilvmm\.hpp'
InheritParentConfig: true
