# Copyright 2020-2025 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -clang-analyzer-unix.Malloc,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-non-const-global-variables,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '46'
InheritParentConfig: true
