# Copyright 2020-2025 David Robillard <d@drobilla.net>
# SPDX-License-Identifier: 0BSD OR ISC

Checks: >
  -android-cloexec-fopen,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-optin.taint.TaintedAlloc,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-valist.Uninitialized,
  -concurrency-mt-unsafe,
  -google-readability-todo,
  -hicpp-multiway-paths-covered,
  -performance-no-int-to-ptr,
  -readability-avoid-nested-conditional-operator,
  -readability-redundant-casting,
  -readability-suspicious-call-argument,
CheckOptions:
  - key:   readability-function-cognitive-complexity.Threshold
    value: '25'
InheritParentConfig: true
