Checks: >
  *,
  -*-else-after-return,
  -*-magic-numbers,
  -*-narrowing-conversions,
  -*-uppercase-literal-suffix,
  -altera-*,
  -android-cloexec-fopen,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-not-null-terminated-result,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-string-compare,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err34-c,
  -clang-analyzer-valist.Uninitialized,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-init-variables,
  -google-readability-todo,
  -hicpp-multiway-paths-covered,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-no-recursion,
  -performance-no-int-to-ptr,
  -readability-function-cognitive-complexity,
  -readability-inconsistent-declaration-parameter-name,
  -readability-suspicious-call-argument,
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
